#bar {
    width: 100%;
    height: 30px;
    background: #3B3B3B;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    z-index: 1;
    color: white;
    left: 10%;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
    font-size: 2.5rem;
    text-shadow: .1rem .1rem .5rem black;
}

.accordion {
  background-color: #1B1B1B;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
  color: #1B1B1B;
}

.panel {
  padding: 10px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.past {
    text-align: center;
    font-size: 2rem;
    padding: 20px 10px;
    color: white;
    background-color: #1B1B1B;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
}

.jumbotron {
    border-radius: 0;background-color: #1B1B1B;
}

.feature i {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

@media (max-width: 767px) {
    .caption {
        top: 20%;
    }
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .175rem;
    }
    .caption h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 575px) {
    .caption {
        top: 20%;
    }
    .caption h1 {
        font-size: 1.8rem;
        letter-spacing: .15rem;
    }
    .caption h3 {
        font-size: 0.7rem;
    }
}

@media (max-width: 280px) {
    .caption {
        top: 10%;
    }
    .caption h1 {
        font-size: 1.5rem;
    }
}